<section data-ng-controller="LeaguesController" data-ng-init="findOneGroup()">
    <div>
        <a data-ng-href="#!/leagues/{{league._id}}">Liga: {{league.name}}</a>
        Grupp: {{group.name}}
    </div>
    <!-- <div data-ng-show="global.user._id == league.user._id">
        <a class="btn" href="/#!/leagues/{{league._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div> -->

    <div data-ng-show="!group.teams || group.teams.length">
        <div ng-repeat="team in group.teams">
            <div>
                <a data-ng-href="#!/leagues/{{league._id}}/groups/{{group._id}}/teams/{{team._id}}">{{team}}</a>
            </div>
        </div>
        <a class="btn" href="/#!/leagues/{{league._id}}/groups/{{group._id}}/createTeam">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </div>
    <div data-ng-hide="!group.teams || group.teams.length">No teams yet. 
        <br> Why don't you <a href="/#!/leagues/{{league._id}}/groups/{{group._id}}/createTeam">Create One</a>?
    </div>

    <div data-ng-show="!group.matches || group.matches.length">
        <div ng-repeat="match in group.matches | orderBy:'date'">
            <div>
                <input date-handler 
                    match-date="match.date" 
                    ng-model="match.date" 
                    ng-model-options="{ updateOn: 'blur'}">
                :
                {{match.hometeam}} - {{match.awayteam}}
                <input ng-model="match.homegoals"/>
                <input ng-model="match.awaygoals"/>
            </div>
        </div>
    </div>
    
    <div data-ng-show="!group.teams || group.teams.length > 1">
        <div data-ng-hide="!group.matches || group.matches.length">Inga matcher skapade</div>
        <form data-ng-submit="generateMatches()">
            <button type="submit" class="btn btn-info">Generera matcher</button>
        </form>
    </div>
</section>
