<section data-ng-controller="LeaguesController" data-ng-init="findOneGroup()">
    <div>
        <a data-ng-href="#!/leagues/{{league._id}}">Liga: {{league.name}}</a>
        Grupp: {{group.name}}
    </div>
    <!-- <div data-ng-show="global.user._id == league.user._id">
        <a class="btn" href="/#!/leagues/{{league._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div> -->


    <div data-ng-show="!group.teams || group.teams.length">
        <h3>{{group.name}}</h3>
        <table> 
            <tr>
                <th>Lag</th>
                <th>Matcher</th> 
                <th>Segrar</th>
                <th>Oavgjorda</th>
                <th>Förluster</th>
                <th>Gjorda mål</th>
                <th>Insläppta mål</th>
                <th>Målskillnad</th>
                <th>Poäng</th>
            </tr>
            <tr ng-repeat="team in group.teams | orderBy:'points':true">
                <td>
                    <a data-ng-href="#!/leagues/{{league._id}}/groups/{{group._id}}/teams/{{team._id}}">{{team.name}}</a>
                </td>
                <td>{{team.gamesplayed}}</td> 
                <td>{{team.wins}}</td>
                <td>{{team.ties}}</td>
                <td>{{team.losses}}</td>
                <td>{{team.goalsscored}}</td>
                <td>{{team.goalsagainst}}</td>
                <td>{{team.goalsscored - team.goalsagainst}}</td>
                <td>{{team.points}}</td>
            </tr>   
        </table>
        <a data-ng-show="global.hasCreatePrivilege" class="btn" href="/#!/leagues/{{league._id}}/groups/{{group._id}}/createTeam">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </div>
    <div data-ng-hide="!group.teams || group.teams.length">Inga lag finns ännu 
        <br><a data-ng-show="global.hasCreatePrivilege" href="/#!/leagues/{{league._id}}/groups/{{group._id}}/createTeam">Skapa lag</a>
    </div>

    <div data-ng-show="!group.matches || group.matches.length">
        <h3>Matcher:</h3>
        <div ng-repeat="match in group.matches | orderBy:'date'">
            <div>
                <input date-handler 
                    match-date="match.date" 
                    ng-model="match.date" 
                    ng-model-options="{ updateOn: 'blur'}">

                :
                {{match.hometeam}} - {{match.awayteam}}
                <input ng-model="match.homegoals" ng-model-options="{ updateOn: 'blur'}"/>
                <input ng-model="match.awaygoals" ng-model-options="{ updateOn: 'blur'}"/>
            </div>
        </div>
    </div>
    
    <div data-ng-show="!group.teams || group.teams.length > 1">
        <div data-ng-hide="!group.matches || group.matches.length">Inga matcher skapade</div>
        <form data-ng-show="global.hasCreatePrivilege" data-ng-submit="generateMatches()">
        <!-- <form data-ng-hide="!group.matches || group.matches.length" data-ng-submit="generateMatches()"> -->
            <button type="submit" class="btn btn-info">Generera matcher</button>
        </form>
    </div>
</section>
