<section data-ng-controller="LeaguesController" data-ng-init="findOne()">
	<form class="form-horizontal col-md-6" role="form" data-ng-submit="createGroup()">
		<div class="form-group">
			<label mean-token="'create-group'" for="group" class="col-md-2 control-label">Gruppnamn</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="group" id="group" placeholder="Grupp" required>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button mean-token="'create-group-submit'" type="submit" class="btn btn-default">Skapa grupp</button>
			</div>
		</div>
	</form>
</section>
