<section data-ng-controller="LeaguesController" data-ng-init="findOneTeam()">
    <div>
        <a data-ng-href="#!/leagues/{{league._id}}">Liga: {{league.name}}</a>
        <a data-ng-href="#!/leagues/{{league._id}}/groups/{{group._id}}">Grupp: {{group.name}}</a>
        Lag: {{team.name}}
    </div>
    <!-- <div>{{team}} -->
    <!-- <div data-ng-show="global.user._id == league.user._id">
        <a class="btn" href="/#!/leagues/{{league._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div> -->

    <div data-ng-show="!team.players || team.players.length">
        <h3>Spelare:</h3>
        <table>
            <tr>
                <th>Namn</th>
                <th>Gjorda mål</th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="player in team.players">
                <td><a data-ng-href="#!/leagues/{{league._id}}/groups/{{group._id}}/teams/{{team._id}}/players/{{player._id}}">{{player.name}}</a></td>
                
                <td>{{player.goalsscored}}</td>
                
                <td><a class="btn" ng-click='player.goalsscored = player.goalsscored > 0 ? player.goalsscored - 1 : 0'>
                    <i class="glyphicon glyphicon-minus"></i>
                </a>
                </td>

                <td><a class="btn" ng-click='player.goalsscored = player.goalsscored + 1'>
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
                </td>
            </tr>
        </table>
        <a class="btn" href="/#!/leagues/{{league._id}}/groups/{{group._id}}/teams/{{team._id}}/createPlayer">
            <i data-ng-show="global.hasCreatePrivilege" class="glyphicon glyphicon-plus"></i>
        </a>
    </div>
    <div data-ng-hide="!team.players || team.players.length">Inga spelare ännu 
        <br><a data-ng-show="global.hasCreatePrivilege" href="/#!/leagues/{{league._id}}/groups/{{group._id}}/teams/{{team._id}}/createPlayer">Skapa spelare</a>
    </div>
</section>
