<section data-ng-controller="LeaguesController" data-ng-init="findOne()">
    <div>Liga: {{league.name}}</div>
    <!-- <div data-ng-show="global.user._id == league.user._id">
        <a class="btn" href="/#!/leagues/{{league._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div> -->

    <!-- <div data-ng-show="!league.groups || league.groups.length">
        <div ng-repeat="group in league.groups">
            <div>
                <a data-ng-href="#!/leagues/{{league._id}}/groups/{{group._id}}">{{group}}</a>
            </div>
        </div>
        <a class="btn" href="/#!/leagues/{{league._id}}/createGroup">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </div> -->
	<div data-ng-hide="!league.groups || league.groups.length">Inga grupper skapade.
		<br><a href="/#!/leagues/{{league._id}}/createGroup">Skapa grupp</a>
	</div>

    <div data-ng-show="!league.groups || league.groups.length">
        <div ng-repeat="group in league.groups">
            <h2><a data-ng-href="#!/leagues/{{league._id}}/groups/{{group._id}}">{{group.name}}</a></h2>
            <div> 
                <table> 
                    <tr>
                        <th>Lag</th>
                        <th>Matcher</th> 
                        <th>Segrar</th>
                        <th>Oavgjorda</th>
                        <th>Förluster</th>
                        <th>Gjorda mål</th>
                        <th>Insläppta mål</th>
                        <th>Målskillnad</th>
                        <th>Poäng</th>
                    </tr>
                    <tr ng-repeat="team in group.teams | orderBy:'points':true">
                        <td>{{team.name}}</td>
                        <td>{{team.gamesplayed}}</td> 
                        <td>{{team.wins}}</td>
                        <td>{{team.ties}}</td>
                        <td>{{team.losses}}</td>
                        <td>{{team.goalsscored}}</td>
                        <td>{{team.goalsagainst}}</td>
                        <td>{{team.goalsscored - team.goalsagainst}}</td>
                        <td>{{team.points}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
